<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Functional Testing" verbose="1">

    <test name="Functional Test">
        <classes>
<!--            <class name="org.example.Day_20_08_25.dataProviders"/>-->
            <class name="org.example.Day_20_08_25.loggerTestcases"/>
        </classes>
    </test>
</suite>
